<a href="https://colab.research.google.com/github/larubiano0/Parcial1-He2AI/blob/main/script_stock_market_variation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from datasets import load_dataset
ds = load_dataset("pmoe7/SP_500_Stocks_Data-ratios_news_price_10_yrs", data_files="sp500_daily_ratios_20yrs.zip")
df = ds['train'].to_pandas()

Repo card metadata block was not found. Setting CardData to empty.

In [42]:
# 1. Examinamos la información básica del DataFrame
print("\n=== Información del DataFrame ===")
print(df.info())

# 2. Verificamos los tipos de datos y valores únicos para cada columna
print("\n=== Valores únicos por columna ===")
for column in df.columns:
    print(f"\n{column}:")
    print(f"Tipo de dato: {df[column].dtype}")
    print(f"Valores únicos: {df[column].nunique()}")
    print(f"Primeros valores únicos: {sorted(df[column].unique())[:5]}")

# 3. Verificamos valores nulos
print("\n=== Valores nulos ===")
print(df.isnull().sum())

# 4. Estadísticas descriptivas básicas
print("\n=== Estadísticas descriptivas ===")
print(df.describe())

df

=== Información del DataFrame ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 23 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Ticker                     1048575 non-null  object
 1   Date                       1048575 non-null  object
 2   Open                       1048575 non-null  float64
 3   Close                      1048575 non-null  float64
 4   Volume                     1048575 non-null  int64
 5   quarter                    1048575 non-null  int64
 6   year                       1048575 non-null  int64
 7   Asset Turnover             1048575 non-null  float64
 8   Current Ratio              1048575 non-null  float64
 9   Days Sales In Receivables  1048575 non-null  float64
 10  Debt/Equity Ratio          1048575 non-null  float64
 11  EBIT Margin                1048575 non-null  float64
 12  EBITDA Margin              1048575 non-null  int64
 13  Gross Margin               1048575 non-null  float64
 14  Inventory Turnover Ratio   1048575 non-null  float64
 15  Long-term Debt / Capital   1048575 non-null  float64
 16  Net Profit Margin          1048575 non-null  float64
 17  Operating Margin           1048575 non-null  float64
 18  Pre-Tax Profit Margin      1048575 non-null  float64
 19  ROA - Return On Assets     898221 non-null   float64
 20  ROE - Return On Equity     1048193 non-null  float64
 21  Receiveable Turnover       1048575 non-null  float64
 22  Return On Tangible Equity  1042435 non-null  float64
dtypes: float64(17), int64(4), object(2)
memory usage: 184.0+ MB
None

=== Valores únicos por columna ===

Ticker:
Tipo de dato: object
Valores únicos: 321
Primeros valores únicos: ['A', 'AAL', 'AAP', 'AAPL', 'ABBV']

Date:
Tipo de dato: object
Valores únicos: 3903
Primeros valores únicos: ['2005-04-01', '2005-04-04', '2005-04-05', '2005-04-06', '2005-04-07']

Open:
Tipo de dato: float64
Valores únicos: 48303
Primeros valores únicos: [0.88, 0.99, 1.05, 1.06, 1.07]

Close:
Tipo de dato: float64
Valores únicos: 49039
Primeros valores únicos: [0.85, 0.94, 0.97, 1.04, 1.05]

Volume:
Tipo de dato: int64
Valores únicos: 194000
Primeros valores únicos: [0, 100, 200, 300, 400]

quarter:
Tipo de dato: int64
Valores únicos: 4
Primeros valores únicos: [1, 2, 3, 4]

year:
Tipo de dato: int64
Valores únicos: 16
Primeros valores únicos: [2005, 2006, 2007, 2008, 2009]

Asset Turnover:
Tipo de dato: float64
Valores únicos: 5000
Primeros valores únicos: [-0.3036, -0.2558, -0.16, -0.1407, -0.1229]

Current Ratio:
Tipo de dato: float64
Valores únicos: 11353
Primeros valores únicos: [0.0, 0.136, 0.1368, 0.1438, 0.1463]

Days Sales In Receivables:
Tipo de dato: float64
Valores únicos: 13968
Primeros valores únicos: [-1071.78, -751.182, -527.023, -501.061, -298.46]

Debt/Equity Ratio:
Tipo de dato: float64
Valores únicos: 11306
Primeros valores únicos: [-1294.6, -1149.59, -791.976, -776.587, -664.5]

EBIT Margin:
Tipo de dato: float64
Valores únicos: 15452
Primeros valores únicos: [-76013.3, -21747.9, -20207.3, -12571.5, -10190.0]

EBITDA Margin:
Tipo de dato: int64
Valores únicos: 1
Primeros valores únicos: [0]

Gross Margin:
Tipo de dato: float64
Valores únicos: 13601
Primeros valores únicos: [-13773.3, -2817.41, -1961.29, -1681.86, -336.534]

Inventory Turnover Ratio:
Tipo de dato: float64
Valores únicos: 9485
Primeros valores únicos: [-15.6501, -6.1645, -5.2309, -3.7149, -3.6511]

Long-term Debt / Capital:
Tipo de dato: float64
Valores únicos: 7200
Primeros valores únicos: [-63.1579, -16.3863, -10.4457, -8.1699, -7.3239]

Net Profit Margin:
Tipo de dato: float64
Valores únicos: 16068
Primeros valores únicos: [-72793.3, -21257.0, -20877.7, -12118.6, -10392.2]

Operating Margin:
Tipo de dato: float64
Valores únicos: 15464
Primeros valores únicos: [-76013.3, -21747.9, -20207.3, -12571.5, -10190.0]

Pre-Tax Profit Margin:
Tipo de dato: float64
Valores únicos: 16161
Primeros valores únicos: [-72793.3, -21374.0, -20932.4, -12152.8, -10449.9]

ROA - Return On Assets:
Tipo de dato: float64
Valores únicos: 12364
Primeros valores únicos: [-97.2767, -59.8681, -36.2879, -32.9178, -29.6762]

ROE - Return On Equity:
Tipo de dato: float64
Valores únicos: 15301
Primeros valores únicos: [-12220.0, -6838.53, -2181.25, -647.908, -515.654]

Receiveable Turnover:
Tipo de dato: float64
Valores únicos: 11361
Primeros valores únicos: [-3.0835, -2.7757, -2.6062, -1.82, -1.5733]

Return On Tangible Equity:
Tipo de dato: float64
Valores únicos: 15995
Primeros valores únicos: [-16333.3, -9211.61, -6100.0, -4541.18, -2993.23]

=== Valores nulos ===
Ticker                            0
Date                              0
Open                              0
Close                             0
Volume                            0
quarter                           0
year                              0
Asset Turnover                    0
Current Ratio                     0
Days Sales In Receivables         0
Debt/Equity Ratio                 0
EBIT Margin                       0
EBITDA Margin                     0
Gross Margin                      0
Inventory Turnover Ratio          0
Long-term Debt / Capital          0
Net Profit Margin                 0
Operating Margin                  0
Pre-Tax Profit Margin             0
ROA - Return On Assets       150354
ROE - Return On Equity          382
Receiveable Turnover              0
Return On Tangible Equity      6140
dtype: int64

=== Estadísticas descriptivas ===
               Open         Close        Volume       quarter          year  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   6.897929e+01  6.899068e+01  6.947570e+06  2.535163e+00  2.012938e+03
std    1.236576e+02  1.236645e+02  3.712794e+07  1.105945e+00  4.601983e+00
min    8.800000e-01  8.500000e-01  0.000000e+00  1.000000e+00  2.005000e+03
25%    2.257000e+01  2.257000e+01  1.065200e+06  2.000000e+00  2.009000e+03
50%    3.948000e+01  3.949000e+01  2.291800e+06  3.000000e+00  2.013000e+03
75%    7.285000e+01  7.286000e+01  5.157500e+06  4.000000e+00  2.017000e+03
max    3.547000e+03  3.531450e+03  2.147484e+09  4.000000e+00  2.020000e+03

       Asset Turnover  Current Ratio  Days Sales In Receivables  \
count    1.048575e+06   1.048575e+06               1.048575e+06
mean     1.970606e-01   1.702334e+00               5.193525e+01
std      1.851169e-01   1.598402e+00               9.257088e+01
min     -3.036000e-01   0.000000e+00              -1.071780e+03
25%      7.960000e-02   8.603000e-01               1.989260e+01
50%      1.522000e-01   1.353600e+00               4.435880e+01
75%      2.521000e-01   2.107200e+00               6.171650e+01
max      1.686600e+00   2.347670e+01               3.233950e+03

       Debt/Equity Ratio   EBIT Margin  ...  Gross Margin  \
count       1.048575e+06  1.048575e+06  ...  1.048575e+06
mean        7.797906e-01  3.564822e+00  ...  4.060805e+01
std         2.231088e+01  6.925780e+02  ...  1.145495e+02
min        -1.294600e+03 -7.601330e+04  ... -1.377330e+04
25%         2.744000e-01  7.504600e+00  ...  2.088040e+01
50%         6.317000e-01  1.472000e+01  ...  3.995530e+01
75%         1.223300e+00  2.285980e+01  ...  6.314260e+01
max         8.347330e+02  2.870365e+04  ...  5.326530e+02

       Inventory Turnover Ratio  Long-term Debt / Capital  Net Profit Margin  \
count              1.048575e+06              1.048575e+06       1.048575e+06
mean               2.403395e+00              4.165346e-01      -5.679585e-01
std                1.569755e+01              9.197273e-01       6.736977e+02
min               -1.565010e+01             -6.315790e+01      -7.279330e+04
25%                0.000000e+00              2.094000e-01       4.852800e+00
50%                8.834000e-01              3.728000e-01       9.865700e+00
75%                1.812800e+00              5.443000e-01       1.719580e+01
max                1.505060e+03              6.053620e+01       2.787976e+04

       Operating Margin  Pre-Tax Profit Margin  ROA - Return On Assets  \
count      1.048575e+06           1.048575e+06           898221.000000
mean       3.658785e+00           2.565558e+00                1.627511
std        6.932909e+02           6.752293e+02                2.824180
min       -7.601330e+04          -7.279330e+04              -97.276700
25%        7.511400e+00           6.950300e+00                0.562700
50%        1.467390e+01           1.340920e+01                1.454900
75%        2.283020e+01           2.228640e+01                2.647900
max        2.895665e+04           2.819549e+04               42.077800

       ROE - Return On Equity  Receiveable Turnover  Return On Tangible Equity
count            1.048193e+06          1.048575e+06               1.042435e+06
mean             4.849451e+00          3.271220e+00               1.351751e+00
std              1.492376e+02          1.694418e+01               3.061666e+02
min             -1.222000e+04         -3.083500e+00              -1.633330e+04
25%              1.789800e+00          1.139000e+00              -2.716300e+00
50%              3.680600e+00          1.644900e+00               3.423200e+00
75%              6.101700e+00          2.401000e+00               8.545400e+00
max              3.694120e+03          7.726060e+02               1.918670e+04

[8 rows x 21 columns]

,Ticker,Date,Open,Close,Volume,quarter,year,Asset Turnover,Current Ratio,Days Sales In Receivables,...,Gross Margin,Inventory Turnover Ratio,Long-term Debt / Capital,Net Profit Margin,Operating Margin,Pre-Tax Profit Margin,ROA - Return On Assets,ROE - Return On Equity,Receiveable Turnover,Return On Tangible Equity
0,A,2005-04-01,13.88,13.67,4717800,2,2005,0.1758,2.7269,67.8873,...,50.0783,0.6660,0.2291,7.4335,3.2864,4.4601,0.7292,1.3699,1.3257,1.5538
1,A,2005-04-04,13.59,13.26,6827100,2,2005,0.1758,2.7269,67.8873,...,50.0783,0.6660,0.2291,7.4335,3.2864,4.4601,0.7292,1.3699,1.3257,1.5538
2,A,2005-04-05,13.29,13.23,5839100,2,2005,0.1758,2.7269,67.8873,...,50.0783,0.6660,0.2291,7.4335,3.2864,4.4601,0.7292,1.3699,1.3257,1.5538
3,A,2005-04-06,13.23,13.42,2994600,2,2005,0.1758,2.7269,67.8873,...,50.0783,0.6660,0.2291,7.4335,3.2864,4.4601,0.7292,1.3699,1.3257,1.5538
4,A,2005-04-07,13.38,13.37,4072300,2,2005,0.1758,2.7269,67.8873,...,50.0783,0.6660,0.2291,7.4335,3.2864,4.4601,0.7292,1.3699,1.3257,1.5538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NI,2018-12-26,23.46,23.57,2903600,4,2018,0.0670,0.5092,70.6171,...,65.6838,1.1872,0.5527,-1.3546,-5.3636,-11.3156,NaN,-0.2402,1.2745,-0.3047
1048571,NI,2018-12-27,23.57,23.82,2842500,4,2018,0.0670,0.5092,70.6171,...,65.6838,1.1872,0.5527,-1.3546,-5.3636,-11.3156,NaN,-0.2402,1.2745,-0.3047
1048572,NI,2018-12-28,23.88,23.96,2023900,4,2018,0.0670,0.5092,70.6171,...,65.6838,1.1872,0.5527,-1.3546,-5.3636,-11.3156,NaN,-0.2402,1.2745,-0.3047
1048573,NI,2018-12-31,23.95,23.84,3537500,4,2018,0.0670,0.5092,70.6171,...,65.6838,1.1872,0.5527,-1.3546,-5.3636,-11.3156,NaN,-0.2402,1.2745,-0.3047
1048574,NI,2019-01-02,23.78,23.58,2717400,1,2019,0.0854,0.4771,57.9624,...,63.6164,3.1539,0.5516,10.9691,20.0129,14.8626,NaN,4.4677,1.5527,5.6550

In [43]:
import pandas as pd
import numpy as np
# =============================================================================
# 2. CONVERTIR 'Date' A FORMATO DATETIME Y ORDENAR EL DATAFRAME
# =============================================================================

# Convertir la columna 'Date' (actualmente cadena) a formato datetime
df['Date'] = pd.to_datetime(df['Date'])
print("Convertido 'Date' a datetime.")

# Dado que el conjunto de datos contiene múltiples tickers, se ordena por 'Ticker' y luego por 'Date'
df.sort_values(by=['Ticker', 'Date'], inplace=True)
print("DataFrame ordenado por 'Ticker' y 'Date'.")

# =============================================================================
# 3. IMPUTACIÓN DE VALORES FALTANTES USANDO INTERPOLACIÓN
# =============================================================================

# Definir una función que se aplicará a cada grupo de Ticker
def interpolate_group(group):
    # Asegurarse de que el grupo esté ordenado por fecha (debería estarlo ya)
    group = group.sort_values(by='Date')
    
    # Seleccionar columnas numéricas (solo se quiere interpolar números)
    numeric_cols = group.select_dtypes(include=[np.number]).columns
    
    # Aplicar interpolación lineal para llenar valores numéricos faltantes.
    # El parámetro limit_direction='both' permite rellenar valores faltantes al inicio y al final.
    group[numeric_cols] = group[numeric_cols].interpolate(method='linear', limit_direction='both')
    return group

# Aplicar la interpolación por cada ticker
df = df.groupby('Ticker').apply(interpolate_group).reset_index(drop=True)
print("Interpolación lineal aplicada a las columnas numéricas para cada Ticker.")

# =============================================================================
# 4. REDUCCIÓN DE RUIDO EN LAS COLUMNAS DE PRECIOS USANDO MEDIA MÓVIL
# =============================================================================

# Crear versiones sin ruido de las columnas 'Open' y 'Close'.
# Aquí, se utiliza una ventana de 5 días para suavizar los datos.
def rolling_denoise(group, window=5):
    group = group.sort_values(by='Date')
    group['Open_denoised'] = group['Open'].rolling(window=window, min_periods=1).mean()
    group['Close_denoised'] = group['Close'].rolling(window=window, min_periods=1).mean()
    return group

# Aplicar el suavizado por media móvil por cada ticker
df = df.groupby('Ticker').apply(rolling_denoise).reset_index(drop=True)
print("Suavizado por media móvil aplicado a los precios 'Open' y 'Close'.")

# =============================================================================
# 5. DETECCIÓN DE VALORES ATÍPICOS EN LOS PRECIOS 'Close' SIN RUIDO
# =============================================================================

# Aquí se utiliza un enfoque de ventana móvil:
#   - Calcular la media móvil y la desviación estándar sobre una ventana (por ejemplo, 20 días)
#   - Marcar cualquier punto donde la diferencia absoluta con la media móvil exceda un umbral (por ejemplo, 3*std)
def detect_outliers(group, window=20, threshold=3):
    group = group.sort_values(by='Date')
    
    # Calcular la media móvil y la desviación estándar en la columna 'Close_denoised'
    group['rolling_mean'] = group['Close_denoised'].rolling(window=window, min_periods=1).mean()
    group['rolling_std'] = group['Close_denoised'].rolling(window=window, min_periods=1).std()
    
    # Marcar valores atípicos: True si la desviación es mayor que threshold * desviación estándar móvil
    group['is_outlier'] = (np.abs(group['Close_denoised'] - group['rolling_mean']) > threshold * group['rolling_std'])
    return group

# Aplicar la detección de valores atípicos por cada ticker
df = df.groupby('Ticker').apply(detect_outliers).reset_index(drop=True)
print("Detección de valores atípicos completada para 'Close_denoised' usando una ventana móvil.")

# =============================================================================
# (OPCIONAL) 6. ELIMINAR VALORES ATÍPICOS
# =============================================================================

# Descomentar las siguientes líneas si se desea eliminar los valores atípicos marcados
# df = df[df['is_outlier'] == False].reset_index(drop=True)
# print("Valores atípicos eliminados del DataFrame.")

# =============================================================================
# RESULTADO FINAL
# =============================================================================

print("Preprocesamiento completado. Forma final del DataFrame:", df.shape)
# Ahora se puede continuar con el modelado o análisis adicional usando 'df'

df

Convertido 'Date' a datetime.
DataFrame ordenado por 'Ticker' y 'Date'.

/var/folders/8_/_cvslyx53dx_h_h6mjxq933m0000gn/T/ipykernel_7737/3626513745.py:33: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby('Ticker').apply(interpolate_group).reset_index(drop=True)

Interpolación lineal aplicada a las columnas numéricas para cada Ticker.

/var/folders/8_/_cvslyx53dx_h_h6mjxq933m0000gn/T/ipykernel_7737/3626513745.py:49: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby('Ticker').apply(rolling_denoise).reset_index(drop=True)

Suavizado por media móvil aplicado a los precios 'Open' y 'Close'.

/var/folders/8_/_cvslyx53dx_h_h6mjxq933m0000gn/T/ipykernel_7737/3626513745.py:71: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby('Ticker').apply(detect_outliers).reset_index(drop=True)

Detección de valores atípicos completada para 'Close_denoised' usando una ventana móvil.
Preprocesamiento completado. Forma final del DataFrame: (1048575, 28)

,Ticker,Date,Open,Close,Volume,quarter,year,Asset Turnover,Current Ratio,Days Sales In Receivables,...,Pre-Tax Profit Margin,ROA - Return On Assets,ROE - Return On Equity,Receiveable Turnover,Return On Tangible Equity,Open_denoised,Close_denoised,rolling_mean,rolling_std,is_outlier
0,A,2005-04-01,13.88,13.67,4717800,2,2005,0.1758,2.7269,67.8873,...,4.4601,0.7292,1.3699,1.3257,1.5538,13.880000,13.670000,13.670000,NaN,False
1,A,2005-04-04,13.59,13.26,6827100,2,2005,0.1758,2.7269,67.8873,...,4.4601,0.7292,1.3699,1.3257,1.5538,13.735000,13.465000,13.567500,0.144957,False
2,A,2005-04-05,13.29,13.23,5839100,2,2005,0.1758,2.7269,67.8873,...,4.4601,0.7292,1.3699,1.3257,1.5538,13.586667,13.386667,13.507222,0.146310,False
3,A,2005-04-06,13.23,13.42,2994600,2,2005,0.1758,2.7269,67.8873,...,4.4601,0.7292,1.3699,1.3257,1.5538,13.497500,13.395000,13.479167,0.131983,False
4,A,2005-04-07,13.38,13.37,4072300,2,2005,0.1758,2.7269,67.8873,...,4.4601,0.7292,1.3699,1.3257,1.5538,13.474000,13.390000,13.461333,0.121057,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NI,2018-12-26,23.46,23.57,2903600,4,2018,0.0670,0.5092,70.6171,...,-11.3156,-1.6401,-0.2402,1.2745,-0.3047,24.460000,24.200000,25.005400,0.555241,False
1048571,NI,2018-12-27,23.57,23.82,2842500,4,2018,0.0670,0.5092,70.6171,...,-11.3156,-1.6401,-0.2402,1.2745,-0.3047,24.164000,24.004000,24.994800,0.572849,False
1048572,NI,2018-12-28,23.88,23.96,2023900,4,2018,0.0670,0.5092,70.6171,...,-11.3156,-1.6401,-0.2402,1.2745,-0.3047,23.972000,23.852000,24.976500,0.603971,False
1048573,NI,2018-12-31,23.95,23.84,3537500,4,2018,0.0670,0.5092,70.6171,...,-11.3156,-1.6401,-0.2402,1.2745,-0.3047,23.886000,23.720000,24.947000,0.650830,False
1048574,NI,2019-01-02,23.78,23.58,2717400,1,2019,0.0854,0.4771,57.9624,...,14.8626,-1.6401,4.4677,1.5527,5.6550,23.728000,23.754000,24.912100,0.695923,False

# Pasos de Preprocesamiento de Datos Explicados

---

## 2. Conversión de la Columna 'Date' y Ordenamiento de los Datos

- **Conversión de la Columna 'Date' a Formato Datetime:**  
  La columna 'Date', que originalmente se encuentra en formato de cadena, se convierte a un objeto datetime utilizando `pd.to_datetime()`.  
  Esta conversión es crucial para operaciones de series de tiempo y ordenamiento basado en fechas.

- **Ordenamiento del DataFrame:**  
  El DataFrame se ordena por `Ticker` y `Date` para que:
  - Los datos de cada acción (identificados por el `Ticker`) estén en orden cronológico.
  - Los análisis de series de tiempo (como interpolación y cálculos móviles) se realicen sobre datos ordenados correctamente.

---

## 3. Imputación de Valores Faltantes Utilizando Interpolación

- **Agrupación por Ticker:**  
  Dado que el conjunto de datos contiene múltiples acciones (cada una identificada por un `Ticker` único), se agrupan los datos por `Ticker`.  
  Esto asegura que la imputación se realice dentro de la serie temporal de cada acción.

- **Interpolación Lineal en Columnas Numéricas:**  
  Para cada grupo, se procesan las columnas numéricas utilizando interpolación lineal.  
  - Este método rellena los valores faltantes basándose en los puntos de datos circundantes.
  - El parámetro `limit_direction='both'` asegura que los valores faltantes al inicio o al final de la serie también sean tratados.

---

## 4. Reducción de Ruido en las Columnas de Precio Utilizando Media Móvil

- **Propósito de la Reducción de Ruido:**  
  La reducción de ruido ayuda a suavizar las fluctuaciones a corto plazo en los datos, facilitando la detección de tendencias subyacentes.

- **Aplicación de una Media Móvil:**  
  - Se suavizan las columnas de precios `Open` y `Close` calculando una media móvil con una ventana de 5 días.
  - Se crean dos nuevas columnas:
    - `Open_denoised`: La versión suavizada de los precios de apertura.
    - `Close_denoised`: La versión suavizada de los precios de cierre.

---

## 5. Detección de Outliers en los Precios de Cierre Suavizados

- **Análisis con Ventana Móvil:**  
  Se utiliza una ventana móvil de 20 días para calcular la media y la desviación estándar local de los precios de cierre suavizados.

- **Marcado de Outliers:**  
  - Un punto de datos se marca como outlier si su desviación con respecto a la media móvil supera 3 veces la desviación estándar móvil.
  - Se añade una nueva columna booleana `is_outlier` que indica si un punto de datos es un outlier (`True`) o no (`False`).

---

## (Opcional) 6. Eliminación de Outliers

- **Paso Opcional:**  
  Aunque el código provee la opción de eliminar los outliers (filtrando las filas donde `is_outlier` es `True`), este paso se encuentra comentado.  
  Puedes descomentar estas líneas si prefieres trabajar con un conjunto de datos que excluya los valores atípicos.

---

## Resultado Final

- **DataFrame Mejorado:**  
  Tras el procesamiento, el DataFrame incluye columnas adicionales:
  - `Open_denoised` y `Close_denoised` para los datos de precios suavizados.
  - `rolling_mean` y `rolling_std` para las estadísticas móviles calculadas.
  - `is_outlier` para marcar los puntos de datos anómalos en los precios de cierre.
  
- **Listo para Análisis Posterior:**  
  Los datos preprocesados están ahora bien estructurados, limpiados y enriquecidos, lo que los hace adecuados para tareas posteriores de modelado y análisis.

## Añadimos ventanas de tiempo para que cada observación obtenga los valores de cierre suavizados de los 40 dias anteriores

In [44]:
for i in range(1, 41):
    df[f'Close_denoised_lag_{i}'] = df['Close_denoised'].shift(i)

df

,Ticker,Date,Open,Close,Volume,quarter,year,Asset Turnover,Current Ratio,Days Sales In Receivables,...,Close_denoised_lag_31,Close_denoised_lag_32,Close_denoised_lag_33,Close_denoised_lag_34,Close_denoised_lag_35,Close_denoised_lag_36,Close_denoised_lag_37,Close_denoised_lag_38,Close_denoised_lag_39,Close_denoised_lag_40
0,A,2005-04-01,13.88,13.67,4717800,2,2005,0.1758,2.7269,67.8873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,2005-04-04,13.59,13.26,6827100,2,2005,0.1758,2.7269,67.8873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,2005-04-05,13.29,13.23,5839100,2,2005,0.1758,2.7269,67.8873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A,2005-04-06,13.23,13.42,2994600,2,2005,0.1758,2.7269,67.8873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A,2005-04-07,13.38,13.37,4072300,2,2005,0.1758,2.7269,67.8873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NI,2018-12-26,23.46,23.57,2903600,4,2018,0.0670,0.5092,70.6171,...,24.374,24.264,24.114,24.072,24.012,23.976,24.042,24.160,24.014,23.896
1048571,NI,2018-12-27,23.57,23.82,2842500,4,2018,0.0670,0.5092,70.6171,...,24.510,24.374,24.264,24.114,24.072,24.012,23.976,24.042,24.160,24.014
1048572,NI,2018-12-28,23.88,23.96,2023900,4,2018,0.0670,0.5092,70.6171,...,24.542,24.510,24.374,24.264,24.114,24.072,24.012,23.976,24.042,24.160
1048573,NI,2018-12-31,23.95,23.84,3537500,4,2018,0.0670,0.5092,70.6171,...,24.514,24.542,24.510,24.374,24.264,24.114,24.072,24.012,23.976,24.042
1048574,NI,2019-01-02,23.78,23.58,2717400,1,2019,0.0854,0.4771,57.9624,...,24.408,24.514,24.542,24.510,24.374,24.264,24.114,24.072,24.012,23.976

In [45]:
! pip install xgboost

Requirement already satisfied: xgboost in /opt/homebrew/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: scipy in /opt/homebrew/lib/python3.10/site-packages (from xgboost) (1.15.2)
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.10/site-packages (from xgboost) (1.26.4)

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [46]:
df = df.dropna()

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, Lasso
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Assume df is your DataFrame with the following columns:
# "Close_denoised", "quarter", "Close_denoised_lag_1", ..., "Close_denoised_lag_40"

# --- 1. Data Preparation ---

# One-hot encode the 'quarter' column (drop one level to avoid multicollinearity)
df_encoded = pd.get_dummies(df, columns=['quarter'], drop_first=True)

# Define feature matrix X and target vector y
X = df_encoded.drop(columns=['Close_denoised'])
y = df_encoded['Close_denoised']

# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# --- 2. Ridge Regression ---

ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)
y_pred_ridge = ridge.predict(X_test)

mse_ridge = mean_squared_error(y_test, y_pred_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

print("Ridge Regression:")
print("MSE: {:.2f}".format(mse_ridge))
print("R2: {:.2f}".format(r2_ridge))
print("-" * 40)

# --- 3. Lasso Regression ---

lasso = Lasso(alpha=0.1)
lasso.fit(X_train, y_train)
y_pred_lasso = lasso.predict(X_test)

mse_lasso = mean_squared_error(y_test, y_pred_lasso)
r2_lasso = r2_score(y_test, y_pred_lasso)

print("Lasso Regression:")
print("MSE: {:.2f}".format(mse_lasso))
print("R2: {:.2f}".format(r2_lasso))
print("-" * 40)

# --- 4. XGBoost Regression ---

xgb = XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
xgb.fit(X_train, y_train)
y_pred_xgb = xgb.predict(X_test)

mse_xgb = mean_squared_error(y_test, y_pred_xgb)
r2_xgb = r2_score(y_test, y_pred_xgb)

print("XGBoost Regression:")
print("MSE: {:.2f}".format(mse_xgb))
print("R2: {:.2f}".format(r2_xgb))

ImportError: cannot import name '_RichResult' from 'scipy._lib._util' (/opt/homebrew/lib/python3.10/site-packages/scipy/_lib/_util.py)