<a href="https://colab.research.google.com/github/larubiano0/Parcial1-He2AI/blob/main/script_stock_market_variation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from datasets import load_dataset
ds = load_dataset("pmoe7/SP_500_Stocks_Data-ratios_news_price_10_yrs", data_files="sp500_daily_ratios_20yrs.zip")
df = ds['train'].to_pandas()

Repo card metadata block was not found. Setting CardData to empty.

In [17]:
# 1. Examinamos la información básica del DataFrame
print("\n=== Información del DataFrame ===")
print(df.info())

# 2. Verificamos los tipos de datos y valores únicos para cada columna
print("\n=== Valores únicos por columna ===")
for column in df.columns:
    print(f"\n{column}:")
    print(f"Tipo de dato: {df[column].dtype}")
    print(f"Valores únicos: {df[column].nunique()}")
    print(f"Primeros valores únicos: {sorted(df[column].unique())[:5]}")

# 3. Verificamos valores nulos
print("\n=== Valores nulos ===")
print(df.isnull().sum())

# 4. Estadísticas descriptivas básicas
print("\n=== Estadísticas descriptivas ===")
print(df.describe())

=== Información del DataFrame ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 23 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Ticker                     1048575 non-null  object
 1   Date                       1048575 non-null  object
 2   Open                       1048575 non-null  float64
 3   Close                      1048575 non-null  float64
 4   Volume                     1048575 non-null  int64
 5   quarter                    1048575 non-null  int64
 6   year                       1048575 non-null  int64
 7   Asset Turnover             1048575 non-null  float64
 8   Current Ratio              1048575 non-null  float64
 9   Days Sales In Receivables  1048575 non-null  float64
 10  Debt/Equity Ratio          1048575 non-null  float64
 11  EBIT Margin                1048575 non-null  float64
 12  EBITDA Margin              1048575 non-null  int64
 13  Gross Margin               1048575 non-null  float64
 14  Inventory Turnover Ratio   1048575 non-null  float64
 15  Long-term Debt / Capital   1048575 non-null  float64
 16  Net Profit Margin          1048575 non-null  float64
 17  Operating Margin           1048575 non-null  float64
 18  Pre-Tax Profit Margin      1048575 non-null  float64
 19  ROA - Return On Assets     898221 non-null   float64
 20  ROE - Return On Equity     1048193 non-null  float64
 21  Receiveable Turnover       1048575 non-null  float64
 22  Return On Tangible Equity  1042435 non-null  float64
dtypes: float64(17), int64(4), object(2)
memory usage: 184.0+ MB
None

=== Valores únicos por columna ===

Ticker:
Tipo de dato: object
Valores únicos: 321
Primeros valores únicos: ['A', 'AAL', 'AAP', 'AAPL', 'ABBV']

Date:
Tipo de dato: object
Valores únicos: 3903
Primeros valores únicos: ['2005-04-01', '2005-04-04', '2005-04-05', '2005-04-06', '2005-04-07']

Open:
Tipo de dato: float64
Valores únicos: 48303
Primeros valores únicos: [0.88, 0.99, 1.05, 1.06, 1.07]

Close:
Tipo de dato: float64
Valores únicos: 49039
Primeros valores únicos: [0.85, 0.94, 0.97, 1.04, 1.05]

Volume:
Tipo de dato: int64
Valores únicos: 194000
Primeros valores únicos: [0, 100, 200, 300, 400]

quarter:
Tipo de dato: int64
Valores únicos: 4
Primeros valores únicos: [1, 2, 3, 4]

year:
Tipo de dato: int64
Valores únicos: 16
Primeros valores únicos: [2005, 2006, 2007, 2008, 2009]

Asset Turnover:
Tipo de dato: float64
Valores únicos: 5000
Primeros valores únicos: [-0.3036, -0.2558, -0.16, -0.1407, -0.1229]

Current Ratio:
Tipo de dato: float64
Valores únicos: 11353
Primeros valores únicos: [0.0, 0.136, 0.1368, 0.1438, 0.1463]

Days Sales In Receivables:
Tipo de dato: float64
Valores únicos: 13968
Primeros valores únicos: [-1071.78, -751.182, -527.023, -501.061, -298.46]

Debt/Equity Ratio:
Tipo de dato: float64
Valores únicos: 11306
Primeros valores únicos: [-1294.6, -1149.59, -791.976, -776.587, -664.5]

EBIT Margin:
Tipo de dato: float64
Valores únicos: 15452
Primeros valores únicos: [-76013.3, -21747.9, -20207.3, -12571.5, -10190.0]

EBITDA Margin:
Tipo de dato: int64
Valores únicos: 1
Primeros valores únicos: [0]

Gross Margin:
Tipo de dato: float64
Valores únicos: 13601
Primeros valores únicos: [-13773.3, -2817.41, -1961.29, -1681.86, -336.534]

Inventory Turnover Ratio:
Tipo de dato: float64
Valores únicos: 9485
Primeros valores únicos: [-15.6501, -6.1645, -5.2309, -3.7149, -3.6511]

Long-term Debt / Capital:
Tipo de dato: float64
Valores únicos: 7200
Primeros valores únicos: [-63.1579, -16.3863, -10.4457, -8.1699, -7.3239]

Net Profit Margin:
Tipo de dato: float64
Valores únicos: 16068
Primeros valores únicos: [-72793.3, -21257.0, -20877.7, -12118.6, -10392.2]

Operating Margin:
Tipo de dato: float64
Valores únicos: 15464
Primeros valores únicos: [-76013.3, -21747.9, -20207.3, -12571.5, -10190.0]

Pre-Tax Profit Margin:
Tipo de dato: float64
Valores únicos: 16161
Primeros valores únicos: [-72793.3, -21374.0, -20932.4, -12152.8, -10449.9]

ROA - Return On Assets:
Tipo de dato: float64
Valores únicos: 12364
Primeros valores únicos: [-97.2767, -59.8681, -36.2879, -32.9178, -29.6762]

ROE - Return On Equity:
Tipo de dato: float64
Valores únicos: 15301
Primeros valores únicos: [-12220.0, -6838.53, -2181.25, -647.908, -515.654]

Receiveable Turnover:
Tipo de dato: float64
Valores únicos: 11361
Primeros valores únicos: [-3.0835, -2.7757, -2.6062, -1.82, -1.5733]

Return On Tangible Equity:
Tipo de dato: float64
Valores únicos: 15995
Primeros valores únicos: [-16333.3, -9211.61, -6100.0, -4541.18, -2993.23]

=== Valores nulos ===
Ticker                            0
Date                              0
Open                              0
Close                             0
Volume                            0
quarter                           0
year                              0
Asset Turnover                    0
Current Ratio                     0
Days Sales In Receivables         0
Debt/Equity Ratio                 0
EBIT Margin                       0
EBITDA Margin                     0
Gross Margin                      0
Inventory Turnover Ratio          0
Long-term Debt / Capital          0
Net Profit Margin                 0
Operating Margin                  0
Pre-Tax Profit Margin             0
ROA - Return On Assets       150354
ROE - Return On Equity          382
Receiveable Turnover              0
Return On Tangible Equity      6140
dtype: int64

=== Estadísticas descriptivas ===
               Open         Close        Volume       quarter          year  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   6.897929e+01  6.899068e+01  6.947570e+06  2.535163e+00  2.012938e+03
std    1.236576e+02  1.236645e+02  3.712794e+07  1.105945e+00  4.601983e+00
min    8.800000e-01  8.500000e-01  0.000000e+00  1.000000e+00  2.005000e+03
25%    2.257000e+01  2.257000e+01  1.065200e+06  2.000000e+00  2.009000e+03
50%    3.948000e+01  3.949000e+01  2.291800e+06  3.000000e+00  2.013000e+03
75%    7.285000e+01  7.286000e+01  5.157500e+06  4.000000e+00  2.017000e+03
max    3.547000e+03  3.531450e+03  2.147484e+09  4.000000e+00  2.020000e+03

       Asset Turnover  Current Ratio  Days Sales In Receivables  \
count    1.048575e+06   1.048575e+06               1.048575e+06
mean     1.970606e-01   1.702334e+00               5.193525e+01
std      1.851169e-01   1.598402e+00               9.257088e+01
min     -3.036000e-01   0.000000e+00              -1.071780e+03
25%      7.960000e-02   8.603000e-01               1.989260e+01
50%      1.522000e-01   1.353600e+00               4.435880e+01
75%      2.521000e-01   2.107200e+00               6.171650e+01
max      1.686600e+00   2.347670e+01               3.233950e+03

       Debt/Equity Ratio   EBIT Margin  ...  Gross Margin  \
count       1.048575e+06  1.048575e+06  ...  1.048575e+06
mean        7.797906e-01  3.564822e+00  ...  4.060805e+01
std         2.231088e+01  6.925780e+02  ...  1.145495e+02
min        -1.294600e+03 -7.601330e+04  ... -1.377330e+04
25%         2.744000e-01  7.504600e+00  ...  2.088040e+01
50%         6.317000e-01  1.472000e+01  ...  3.995530e+01
75%         1.223300e+00  2.285980e+01  ...  6.314260e+01
max         8.347330e+02  2.870365e+04  ...  5.326530e+02

       Inventory Turnover Ratio  Long-term Debt / Capital  Net Profit Margin  \
count              1.048575e+06              1.048575e+06       1.048575e+06
mean               2.403395e+00              4.165346e-01      -5.679585e-01
std                1.569755e+01              9.197273e-01       6.736977e+02
min               -1.565010e+01             -6.315790e+01      -7.279330e+04
25%                0.000000e+00              2.094000e-01       4.852800e+00
50%                8.834000e-01              3.728000e-01       9.865700e+00
75%                1.812800e+00              5.443000e-01       1.719580e+01
max                1.505060e+03              6.053620e+01       2.787976e+04

       Operating Margin  Pre-Tax Profit Margin  ROA - Return On Assets  \
count      1.048575e+06           1.048575e+06           898221.000000
mean       3.658785e+00           2.565558e+00                1.627511
std        6.932909e+02           6.752293e+02                2.824180
min       -7.601330e+04          -7.279330e+04              -97.276700
25%        7.511400e+00           6.950300e+00                0.562700
50%        1.467390e+01           1.340920e+01                1.454900
75%        2.283020e+01           2.228640e+01                2.647900
max        2.895665e+04           2.819549e+04               42.077800

       ROE - Return On Equity  Receiveable Turnover  Return On Tangible Equity
count            1.048193e+06          1.048575e+06               1.042435e+06
mean             4.849451e+00          3.271220e+00               1.351751e+00
std              1.492376e+02          1.694418e+01               3.061666e+02
min             -1.222000e+04         -3.083500e+00              -1.633330e+04
25%              1.789800e+00          1.139000e+00              -2.716300e+00
50%              3.680600e+00          1.644900e+00               3.423200e+00
75%              6.101700e+00          2.401000e+00               8.545400e+00
max              3.694120e+03          7.726060e+02               1.918670e+04

[8 rows x 21 columns]